*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    color:black;
}
@font-face {
    font-family: "Source Sans Pro", "Merriweather";
    src: url(./assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdu3cOWxw.woff2);
    src: url(./assets/fonts/fa-brands-400.woff2);
    src: url(./assets/fonts/fa-solid-900.woff2);
    src: url(./assets/fonts/u-4l0qyriQwlOrhSvowK_l5-eR7lXff4jvzDP3WG.woff2);
    src: url(./assets/fonts/u-4n0qyriQwlOrhSvowK_l521wRZWMf6hPvhPQ.woff2);

}
@font-face {
    font-family: "Merriweather";
    src: url(./assets/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdu3cOWxw.woff2);
    src: url(./assets/fonts/fa-brands-400.woff2);
    src: url(./assets/fonts/fa-solid-900.woff2);
    src: url(./assets/fonts/u-4l0qyriQwlOrhSvowK_l5-eR7lXff4jvzDP3WG.woff2);
    src: url(./assets/fonts/u-4n0qyriQwlOrhSvowK_l521wRZWMf6hPvhPQ.woff2);

}
body{
    background-color: rgb(105, 103, 103);
    font-size: 16px;
    line-height: 38px;
    color:#212931;
    font-family: "Merriweather", Georgia, serif;
    /* background: url(./assets/images/bg.jpg); */
}



article{
    border:1px solid gray;
}

#footer{
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     
}
.fields{
    padding: 20px;
}
li{
    list-style-type: none;
}

label{
    display: block;
}

.alt{
    /* border:1px solid gray; */
    display: flex;
    flex-direction: row;
    padding:40px;
}

.alt{
    display: inline;
}


h1,h2{
    text-align: center;
}

h1{
    font-size: 80px;
    line-height: 80px;
    font-family: Myfont, Helvetica, sans-serif;
    color:#ffffff;
}

h2{
    line-height: 70.4px;
    font-size: 64px;
    color:#212931;
}

h3{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12.8px;
    line-height: 19.2px;
    color: #717981;

}

#main{
    background-color: #ffffff;
    margin:75px 75px 75px 75px;
}


.posts{
    border:1px solid;
    padding:25px;
    flex-wrap: wrap;
    display: flex;
    flex:1 1 300px;
}

.posts>* {
    flex: 1 1 50%;
}

.image{
    margin:0 auto;
    width:150px;
    height:150px;
}

img{
    width:80%;
    margin-left:11%;
}

p{
    text-align: justify;

    padding: 40px;
    margin:10px;
}

span>.date{
    margin: 0 auto;
}

.button{
    margin-left:45%;
     
}

.links{
    /* margin:30px 20px; */
    /* padding: 30px; */
    color:#ffffff;
    display: flex;
}

.icons{
    display: flex; 
    justify-content: flex-end;
}

#nav{
    background-color: #212931;
}

 .active{
    background-color: #ffffff;
}